name: Validate

on:
  pull_request:
    branches:
      - main

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: denoland/setup-deno@v2

      - name: Format
        run: deno task format-check

      - name: Lint
        run: deno task lint-check

      - name: Type-check
        run: deno task type-check

      - name: Publish dry run
        run: deno publish --dry-run
